/* Icone Logo */
.cloudsIcon{
  display: flex;
  align-items: center;
  justify-content:flex-start;
  width: 100px;
  height: 100px;
}

.imageLogo{
  display: flex;
  justify-content: left;
  width: 240px;
  height: fit-content;
}

/* Icone temp atual */
.divIconeTemp{
  width:40%;
  height:40%;
}

/* Icone Local */
.locationSymbol {
  font-size: 24px;
  /* Tamanho do símbolo */
  margin-left: 10px;
  /* Espaço à esquerda do símbolo para separá-lo do input */
  color: #333;
  /* Cor do símbolo */
}

/* Input principal */
.inputPrincipal {
  display: flex;
  color: white;
}

.body{
  display: flex;
}

/* Mains */
.mainEsq{
  display: flex;
  flex-direction: column;
  width: 70%;
}

.mainDir{
  display: flex;
  flex-direction: row-reverse;
  color: white;
  width: 30%;
}

/* Dias da Semana */
.divDiasDaSemana{
  display: flex;
  flex-direction: column;
  align-items: center;
  border:2px solid #333;
  color: white;
  background-color: green;
  height: fit-content;
}

/* temperatura por hora */
.divTempHora {
  display: flex;
  flex-direction: row; /* Certifique-se de que a direção seja "row" para distribuição horizontal */
  border: 2px solid #333;
  color: white; 
  background-color: green;
}

.infoMomentoSL{
  display: flex;
  justify-content: center;
  border: 2px solid #333;
  width: 80vh;
}

.min_max{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  width: 100%;
}